/* src/pages/LoginPage.css */

.page-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), 
              url('/medellin.jpg') no-repeat center center;
  background-size: cover;
}